body {

    padding-top: 78px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 17px;
   
}

p {
    margin-bottom: 1.2em;
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.login-box {
    font-size: 18px;
}

h1.post-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.site-header {
    font-family: 'Pacifico', cursive;
    vertical-align: middle;
    font-size: 32px;
}

pre.theme-peacocks-in-space {
  font-size: .85em;
  line-height: 1em;
}

textarea {
    resize: none;
    overflow:auto;
    font-size: 14px !important;
}

ul li.error {
    font-size: 13px;
}

div.flash {
    font-size: 14px;
}

.button-icon, .post-title-date-icon {
  margin-right: 5px;
  line-height: 1;
}

.post-tag
{
    font-weight: normal !important;
    font-size: 70% !important;
}

.post-title-icon
{
    margin-right: 0.2em;
}

.blog-post-title
{
  font-size: 1.8em;
}

.post-title-date
{
    margin-left: 0.5em;
    padding: 0.5em;
    font-size: 0.35em;
    vertical-align: middle;
    font-weight: normal;
}

.post-content {
    margin-top: 20px;
}

code > span {
    line-height: 1.35em;
}